body, html {
    height: 100%;
  }
  
body {
    /* The image used */
    background-image: url("images/pl.jpg");
  
    /* Full height */
    height: 90%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .glow {
    font-size: 60px;
    color: #000;
    text-align: center;
    margin-top: 60px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  